body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #121826;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

#gameArea {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items on the main axis */
    align-items: flex-start; /* Align items to the start of the cross axis */
    gap: 20px; /* Space between items */
    padding: 20px;
}

#mediaContainer {
    flex: 1 1 60%; /* Grow to fill space, but don't shrink below 60% of container width */
    max-width: 60%; /* Maximum width of media container */
}

#mediaContainer img,
#mediaContainer audio {
    width: 100%; /* Make media items responsive */
    height: 100%;
    /*max-height: 400px; /* Maximum height for media items */
}

#agentGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); /* Create as many 100px columns as will fit */
    gap: 10px;
    max-width: 100%;
}

.agent {
    cursor: pointer;
    border: 2px solid transparent;
    width: 100%; /* Ensure images take up the full grid cell */
    height: auto; /* Maintain aspect ratio */
}

.agent.selected {
    border-color: #007bff;
}

#submitGuess {
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px; /* Space above the submit button */
}

/* Smaller screens */
@media (max-width: 768px) {
    #gameArea {
        flex-direction: column;
    }

    #mediaContainer {
        flex-basis: auto;
        max-width: 100%;
    }

    h1 {
        font-size: 2em; /* Smaller font size for smaller screens */
    }
}
