@font-face {
    font-family: 'VALORANT Font';
    src: url('Valorant Font.ttf') format('truetype');
}

:root{
    --primary-red: #fd4655;
    --primary-blue: #121826;
    --primary-yellow: #fdd543;
    --primary-grey: #BBB5BD;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #ffffff;
    background-color: var(--primary-blue);
    overflow-x: hidden;
}

h1 {
    font-family: 'VALORANT Font', sans-serif;
    font-size: 7em;
    color: var(--primary-red);
    margin-bottom: 5px;
    margin-top: 5px;
}

#gameArea {
    display: grid;
    max-width: 50%;
    min-width: 80%;
    margin: auto;
    grid-template-columns: 72% 28%;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
}

#mediaContainer {
    border: 10px solid var(--primary-red);
    background-color: var(--primary-blue);
    padding: 0px;
}

#mediaContainer img,
#mediaContainer audio {
    width: 100%;
    height: auto;
}

#agentGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--primary-blue);
    align-items: flex-start;
    border: 6px solid var(--primary-red);
}

.agent-container {
    display: flex;
    margin: 8px;
    margin-top: 10px;
}

.agent {
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid var(--primary-red);
}

.agent.selected {
    border: 4px solid var(--primary-yellow);
}

/*This is for right click marking the agent*/
.agent-marked {
    opacity: 0.3;
}

/*This is for an incorrect guess*/
.agent.greyscale {
    pointer-events: none;
    filter: grayscale(100%) sepia(200%) hue-rotate(-55deg) saturate(500%) brightness(0.6);
}

#strikeContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.strike {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    line-height: 1.6;
    text-align: justify;
    user-select: none;
}

.strike.empty {
    background-color: var(--primary-grey);
}

.strike.wrong {
    background-color: red;
}

.strike.right {
    background-color: green;
    font-weight: bold;
}

#submitGuess {
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 20px;
}


/* Styling for buttons */
button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: var(--primary-red);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px 0;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: var(--primary-yellow);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}

.how-to-play-button {
    background-color: var(--primary-blue);
    border: 2px solid var(--primary-red);
    color: var(--primary-red);
}

.how-to-play-button:hover {
    background-color: var(--primary-red);
    color: #fff;
}

.close {
    color: var(--primary-grey);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--primary-red);
    text-decoration: none;
    cursor: pointer;
}

/* Modal Styling */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    opacity: 95%;
}

.modal-content {
    background-color: var(--primary-blue);
    margin: 5% auto;
    padding: 40px;
    border: 4px solid var(--primary-grey);
    width: 50%; /* Adjust width as needed */
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 0px;
    padding-top: 20px;
}

#modalStrikeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Styles for the quiz statistics bar graph */
#statsContainer {
    width: 60%;
    margin: 20px auto;
    text-align: left;
}

.stats-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.bar-container {
    background-color: var(--primary-grey);
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    display: flex;
}

.bar {
    height: 30px;
    border-radius: 3px;
    background-color: var(--primary-red);
    transition: width 0.5s ease-in-out;
    display: flex;
    align-items: center;
}

.bar-text {
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
    position: absolute;
}

.bar-graph-strikes-display {
    display: flex;
    justify-content: flex-end; /* Change to flex-end to move it to the right */
    align-items: center;
    margin-right: 10px;
}

.bar-graph-strike {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    user-select: none;
    margin: 0 2px;
    font-size: 14px;
}

.bar-graph-strike.empty {
    background-color: var(--primary-grey);
}

.bar-graph-strike.incorrect {
    background-color: red;
}

.bar-graph-strike.correct {
    background-color: green;
    font-weight: bold;
}

/* Snowy background stuffs */
.snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
    background-position: 0px 0px;
    /*background-size: 20%, 20%;*/
    animation: animatedBackground 10s linear infinite;
}

.snow div {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.7%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st3' cx='4' cy='14' r='1'/%3E%3Ccircle class='st3' cx='43' cy='3' r='1'/%3E%3Ccircle class='st3' cx='31' cy='30' r='2'/%3E%3Ccircle class='st3' cx='19' cy='23' r='1'/%3E%3Ccircle class='st3' cx='37' cy='22' r='1'/%3E%3Ccircle class='st3' cx='43' cy='16' r='1'/%3E%3Ccircle class='st3' cx='8' cy='45' r='1'/%3E%3Ccircle class='st3' cx='29' cy='39' r='1'/%3E%3Ccircle class='st3' cx='13' cy='37' r='1'/%3E%3Ccircle class='st3' cx='47' cy='32' r='1'/%3E%3Ccircle class='st3' cx='15' cy='4' r='2'/%3E%3Ccircle class='st3' cx='9' cy='27' r='1'/%3E%3Ccircle class='st3' cx='30' cy='9' r='1'/%3E%3Ccircle class='st3' cx='25' cy='15' r='1'/%3E%3Ccircle class='st3' cx='21' cy='45' r='2'/%3E%3Ccircle class='st3' cx='42' cy='45' r='1'/%3E%3C/svg%3E");
    background-position: 0px 0px;
    animation: animatedBackground 15s linear infinite;
}

@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0px var(--background-shift); /* Use a CSS variable */
    }
}

/* Compatibility for small screens */
@media (max-width: 1500px) {
    #gameArea {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #mediaContainer {
        border: 6px solid var(--primary-red);
    }

    #agentGrid {
        grid-template-columns: repeat(7, 1fr);
        border: 3px solid var(--primary-red);
        max-width: 100%;
    }

    .agent-container {
        display: flex;
        margin: 8px;
    }

    .modal-content {
        background-color: var(--primary-blue);
        margin: 10% auto;
        padding: 20px;
        border: 4px solid #888;
        width: 60%;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    }
    .strike {
        width: 20px;
        height: 20px;
        margin: 2px;
        font-size: 16px;
    }

    .bar-graph-strike {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 10px;
    }

    h1 {
        font-size: 2em;
    }
}

/* Bunch of font stuff */
h2 {
    color: var(--primary-red);
    font-size: 2em;
    border-bottom: 2px solid var(--primary-red); /* Add a thematic underline */
    padding-bottom: 10px;
}

h3 strong{
    font-size: 1.2em;
    color: var(--primary-red);
}

ul {
    list-style: none; /* Remove default list styling */
    padding: 0;
}

p strong {
    color: var(--primary-red); /* Highlight the key terms */
}

ul li {
    text-align: left;
    margin-bottom: 10px;
}

ul li strong {
    color: var(--primary-red); /* Highlight the key terms */
}