@font-face {
    font-family: 'VALORANT Font';
    src: url('Valorant Font.ttf') format('truetype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #ffffff;
    background-color: #121826;
}

h1 {
    font-family: 'VALORANT Font', sans-serif;
    font-size: 7em;
    color: #fd4655;
    margin-bottom: 5px;
    margin-top: 5px;
}

#gameArea {
    display: grid;
    max-width: 50%;
    min-width: 80%;
    margin: auto;
    grid-template-columns: 72% 28%;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
}

#mediaContainer {
    border: 12px solid #fd4655;
    padding: 0px;
}

#mediaContainer img,
#mediaContainer audio {
    width: 100%;
    height: auto;
}

#agentGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    border: 8px solid #fd4655;
}

.agent-container {
    display: flex;
    margin: 8px;
    margin-bottom: 0px;
}

.agent {
    width: 100%;
    cursor: pointer;
    border-radius: 50%;  /* Makes the image circular */
    border: 4px solid #fd4655; /* Change to the desired width and color of the border */
}

.agent.selected {
    border: 4px solid #f7f451;
}

/*This is for right click marking the agent*/
.agent-marked {
    opacity: 0.3;
}

/*This is for an incorrect guess*/
.agent.greyscale {
    pointer-events: none; /* Prevents clicking on the element */
    filter: grayscale(100%) sepia(200%) hue-rotate(-55deg) saturate(500%) brightness(0.6);
}

#strikeContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.strike {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    line-height: 1.6;
    text-align: justify;
    user-select: none;
}

.strike.empty {
    background-color: #ccc;
}

.strike.wrong {
    background-color: red;
}

.strike.right {
    background-color: green;
}

#submitGuess {
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    opacity: 95%;
}

.modal-content {
    background-color: #121826;
    margin: 10% auto; /* Adjust top margin to center the modal vertically */
    padding: 20px;
    border: 4px solid #888;
    width: 30%; /* Adjust width for better mobile responsiveness */
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); /* Optional: adds shadow for depth */
}

#modalStrikeContainer {
    display: flex;
    justify-content: center; /* Center the strikes horizontally */
    align-items: center; /* Align the strikes vertically */
}

@media (max-width: 900px) {
    #gameArea {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #mediaContainer {
        border: 6px solid #fd4655;
    }

    #agentGrid {
        grid-template-columns: repeat(7, 1fr);
        border: 3px solid #fd4655;
        max-width: 100%;
    }

    .agent-container {
        display: flex;
        margin: 8px;
    }

    .modal-content {
        background-color: #121826;
        margin: 10% auto; /* Adjust top margin to center the modal vertically */
        padding: 20px;
        border: 4px solid #888;
        width: 50%; /* Adjust width for better mobile responsiveness */
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); /* Optional: adds shadow for depth */
    }
    

    h1 {
        font-size: 2em;
    }
}