<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTDLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <script>
        var dailyAgent = "{{ daily_agent }}";
        var agents = JSON.parse('{{ agents | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>   

    <h1>FOOTDLE</h1>
    <div id="dailyAgent">
        <p>The daily agent is {{ daily_agent }}</p>
    </div>    
    <div id="gameArea">
        <div id="mediaContainer">
            <!-- Placeholder for image or video -->
            <img id="gameImage" src="{{ url_for('static', filename='placeholder.png') }}" alt="Guess the Agent">
            <audio id="agentSound" controls>
                <source src="" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>            
        </div>
        
        <div id="agentGrid">
            {% for agent_name, agent_data in agents.items() %}
                <img class="agent" src="{{ url_for('static', filename='agents/' + agent_name + '/' + agent_data['icon']) }}" alt="{{ agent_name }}">
            {% endfor %}
        </div>                
    </div>

    <div id="strikeContainer">
        <div class="strike empty"></div>
        <div class="strike empty"></div>
        <div class="strike empty"></div>
        <div class="strike empty"></div>
        <div class="strike empty"></div>
    </div>

    <button id="submitGuess">Submit Guess</button>

    <!-- Countdown timer stuff-->
    <div id="serverTime" style="display:none;">{{ server_time }}</div>
    <div id="countdownTimer">
        Time until next quiz: <span id="timeLeft"></span>
    </div>

    <!-- Result Modal -->
    <div id="resultModal" class="modal">
        <div class="modal-content">
        <h2 id="resultTitle">Quiz Result</h2>
        <p id="resultMessage"></p>
        <div id="modalStrikeContainer">
          </div>
        <p id="nextQuizMessage"></p>
        </div>
    </div>
</body>
</html>
