<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTDLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <script>
        var dailyAgent = "{{ daily_agent }}";
        var selectedFiles = JSON.parse('{{ selected_files | tojson | safe }}');
        var maps = JSON.parse('{{ maps | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>      

    <h1>STEPDLE</h1>  
    <div id="gameArea">
        <div id="mediaContainer">
            <img id="gameImage" src="" alt="Map">
            <audio id="agentSound" controls>
                <source src="" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>            
        </div>
        
        <div id="agentGrid">
            {% for agent_name, agent_data in agents.items() %}
                <div class="agent-container">
                    <img class="agent" src="{{ url_for('static', filename='agents/' + agent_name + '/' + agent_data['icon']) }}" alt="{{ agent_name }}">
                    <div class="agent-marked"></div>
                </div>
            {% endfor %}
        </div>               
    </div>

    <div id="strikeContainer">
        <div class="strike empty"></div>
        <div class="strike empty"></div>
        <div class="strike empty"></div>
        <div class="strike empty"></div>
        <div class="strike empty"></div>
    </div>

    <button id="submitGuess">Submit Guess</button>

    <!-- Countdown timer stuff-->
    <div id="serverTime" style="display:none;">{{ server_time }}</div>
    <div id="countdownTimer">
        Time until next quiz: <span id="timeLeft"></span>
    </div>

    <!-- Result Modal -->
    <div id="resultModal" class="modal">
        <div class="modal-content">
            <h2 id="resultTitle">Result</h2>
            <p id="resultMessage"></p>
    
            <div id="dailyAgentResult">
                <img id="dailyAgentImage" src="" alt="Daily Agent" style="width: 100px; height: 100px;">
                <p id="dailyAgentName">The daily agent was: </p>
            </div>
    
            <div id="modalStrikeContainer"></div>
            <p id="nextQuizMessage"></p>
        </div>
    </div>
    
</body>
</html>
